
/** {
	margin: 0;
}*/
html, body {
	height: 95%;
}
.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -2px;/*5%  -22px*/
}
.page-wrap:after {
	display: block;
}
.site-footer, .page-wrap:after {
	text-align: center;
	height : 5%;
	font: 400 14px 'pt sans', sans-serif;
}
.site-footer {
	background:#f9f9f9;
}
